.App {
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.input {
  margin-bottom: 20px;
}

.input input[type="text"] {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.input button:hover {
  background-color: #0056b3;
}

.now,
.week {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 80%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.weather-now h2 {
  margin: 0;
  font-size: 24px;
}

.now-time {
  margin-top: 10px;
  font-size: 18px;
}

.week-weather h3 {
  margin: 0;
  font-size: 20px;
}

.week-time {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.week-time li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.week-time li:last-child {
  border-bottom: none;
}
